@model IEnumerable<Models.OperationResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OperationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArgumentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arguments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExetTimeMs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("Item", item)
    }

</table>
